/*
CSS Resets
*/
* {
  padding: 0;
  margin: 0;
}
/*  CSS Variables, general settings and type scale */
body {
  --bg-color: #eeeeee;
  --scale-ratio: 1.1;
  --body-size: 1rem;
  --h3-size: calc(var(--body-size) * var(--scale-ratio));
  --h2-size: calc(var(--h3-size) * var(--scale-ratio));
  --h1-size: calc(var(--h2-size) * var(--scale-ratio));
  background: var(--bg-color);
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

/* Typography styles */
p {
  margin-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5em;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
  margin-top: 4rem;
}

h3 {
  font-size: var(--h3-size);
  margin-top: 3rem;
}

small,
.text-small {
  font-size: 0.75rem;
}
.code-span {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.1rem 0.2rem 0.15rem 0.3rem;
  border-radius: 0.1rem;
  font-size: 0.9em;
  font-family: "SF Mono", Crimson;
}

/*
Main Styles
*/
.container {
  max-width: 740px;
  padding: 0 1rem;
  margin: auto;
}
.intro {
  margin-top: 10vmin;
}
ul.sources {
  list-style: none;
  /* padding-left: 1rem; */
  margin-bottom: 10vmin;
  word-break: break-all;
}
ul.sources li {
  margin-bottom: 0.5rem;
}

/* Arguments / Pro/contra lists */
ul.args {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}
ul.args li {
  list-style: none;
  margin-left: 0;
  display: flex;
  align-items: center;
  line-height: 1.2;
}
li::before {
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
li.pro::before {
  content: "+";
  background: #9ae08f;
  color: #0f7438;
}
li.contra::before {
  content: "-";
  background: #ffa6a6;
  color: #8b1515;
}

/*
Make codepen iframe resizable
Source: https://blog.codepen.io/2017/05/01/make-embedded-pen-resizeable/
*/
.cp_embed_wrapper {
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  /* required to see the handle */
  background: white;
  padding-bottom: 10px;

  /* default height */
  height: 400px;

  /* Custom margin */
  margin-bottom: 4rem;
}
.cp_embed_wrapper iframe {
  height: 100% !important;
}

/* Repsonsive: Larger phones */
@media (min-width: 375px) {
  html {
    font-size: 112.5%; /*18px*/
  }
}
/* Repsonsive: Tablets / Desktop */
@media (min-width: 769px) {
  html {
    font-size: 125%;
  }
  body {
    --scale-ratio: 1.41;
  }
  ul.args {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
  }
  li.pro {
    grid-column: 1/2;
  }
}
